<h1>List of burgers</h1>
<ul>
    
{{#each burger}}
    <li>
        {{#with this}}
            {{burger_name}}
        {{/with}}
    </li>
{{/each}}

</ul>

<h1 id="great">Add a burger</h1>
<form class="create-form">
    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Would you want to eat it?</label><br>
        <input type="radio" name="devoured" value="1" checked> Yes Sir!<br>
        <input type="radio" name="devoured" value="0"> No way!
    </div>

    <button type="submit">Add burger</button>
</form>